.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

.buttonBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
	.buttonBlock {
		flex-direction: column;
	}
}
